USDA_API_KEY=ZZBb6zDnz0GBoUZLfgY5qhIiGdrdWuRkpvvaJXrV # Get free key at https://fdc.nal.usda.gov/api-key-signup

MODEL_DIR=./models
DEBUG=true
PORT=8000
HOST=0.0.0.0
DEMO_MODE=true

# NUTRITIONIX_APP_ID=your_app_id  # https://www.nutritionix.com/business/api
# NUTRITIONIX_APP_KEY=your_app_key